.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}
.main1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
}

.main2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  float: left;
  font-size: 1.7rem;
  
}

.main3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  float: right;
  font-size: 1.7rem;

}




.title{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 8px 24px;
  font-size: 4rem;
}

.title1{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.5rem;
}

.title2{
  font-size: 1.5rem;
}
.title3{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 120px 70px;
  font-size: 4rem;
}
.title4{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 90px 70px 180px;
  font-size: 4rem;
}



.anchor{
  display: inline-block;
  padding: 8px 24px;
}

.anchor:hover,
.anchor:focus,
.anchor:active{
  color: #0070f3;
  border-color: #0070f3
}
